doctype html
head
  meta(charset='“UTF-8"')
  meta(http-equiv='“X-UA-Compatible”' content='“IE=edge”')
  meta(name='“viewport”' content='“width=device-width,' initial-scale='1.0"')
  title Document
div(style='“width:' 500px;='' background-color:='' #f0f0f0;margin:='' auto;='' padding:20px='' 50px;text-align:center”='')
  h2 Welcome to Ediflo.
  h4 You have been invited to join EdiFlo
  div(style='“padding:35px' 15px='' 15px;background-color:#fff;border-radius:='' 10px;“='')
    p(style='“margin:0;color:#848484”') Your OTP is
    h1(style='“margin-top:10px”') #{otp}
  div(style='“padding:30px' 15px='' 30px='' 15px;background-color:#fff;border-radius:='' 10px;margin-top:='' 3px;margin-bottom:='' 35px;“='')
    a(href=`${url}` target='“_blank”')
      button(style='“border:0;background-color:#075eff;color:#fff;' font-weight:700;padding:14px='' 20px;font-size:16px;border-radius:='' 8px;cursor:='' pointer;“='')
        | Complete
        | sign
        | up
    p(style='“font-size:' 14px;padding:0='' 25px”='')
      | By clicking this button, you will be taken to sign up page. Enter the
      | OTP above to
      | complete the sign up
      | process
